<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sprite_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,3},{167,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,240}}</string>
        <key>sourceSize</key>
        <string>{167,240}</string>
      </dict>
      <key>sprite_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,3},{158,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,241}}</string>
        <key>sourceSize</key>
        <string>{158,241}</string>
      </dict>
      <key>sprite_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,3},{167,209}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,209}}</string>
        <key>sourceSize</key>
        <string>{167,209}</string>
      </dict>
      <key>sprite_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,3},{168,207}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,207}}</string>
        <key>sourceSize</key>
        <string>{168,207}</string>
      </dict>
      <key>sprite_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,3},{165,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,203}}</string>
        <key>sourceSize</key>
        <string>{165,203}</string>
      </dict>
      <key>sprite_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,209},{127,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,255}}</string>
        <key>sourceSize</key>
        <string>{127,255}</string>
      </dict>
      <key>sprite_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,213},{127,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,254}}</string>
        <key>sourceSize</key>
        <string>{127,254}</string>
      </dict>
      <key>sprite_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,215},{128,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,254}}</string>
        <key>sourceSize</key>
        <string>{128,254}</string>
      </dict>
      <key>sprite_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,246},{165,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,243}}</string>
        <key>sourceSize</key>
        <string>{165,243}</string>
      </dict>
      <key>sprite_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,247},{128,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,242}}</string>
        <key>sourceSize</key>
        <string>{128,242}</string>
      </dict>
      <key>sprite_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,247},{127,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,253}}</string>
        <key>sourceSize</key>
        <string>{127,253}</string>
      </dict>
      <key>sprite_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,465},{126,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,255}}</string>
        <key>sourceSize</key>
        <string>{126,255}</string>
      </dict>
      <key>sprite_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,470},{127,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,254}}</string>
        <key>sourceSize</key>
        <string>{127,254}</string>
      </dict>
      <key>sprite_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,473},{127,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,254}}</string>
        <key>sourceSize</key>
        <string>{127,254}</string>
      </dict>
      <key>sprite_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,493},{147,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,245}}</string>
        <key>sourceSize</key>
        <string>{147,245}</string>
      </dict>
      <key>sprite_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,493},{127,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,254}}</string>
        <key>sourceSize</key>
        <string>{127,254}</string>
      </dict>
      <key>sprite_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,502},{127,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,242}}</string>
        <key>sourceSize</key>
        <string>{127,242}</string>
      </dict>
      <key>sprite_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,502},{125,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,242}}</string>
        <key>sourceSize</key>
        <string>{125,242}</string>
      </dict>
      <key>sprite_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,721},{126,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,255}}</string>
        <key>sourceSize</key>
        <string>{126,255}</string>
      </dict>
      <key>sprite_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,726},{126,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,254}}</string>
        <key>sourceSize</key>
        <string>{126,254}</string>
      </dict>
      <key>sprite_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,730},{126,255}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,255}}</string>
        <key>sourceSize</key>
        <string>{126,255}</string>
      </dict>
      <key>sprite_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,740},{141,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,249}}</string>
        <key>sourceSize</key>
        <string>{141,249}</string>
      </dict>
      <key>sprite_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,747},{126,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,254}}</string>
        <key>sourceSize</key>
        <string>{126,254}</string>
      </dict>
      <key>sprite_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,747},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,750},{130,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,245}}</string>
        <key>sourceSize</key>
        <string>{130,245}</string>
      </dict>
      <key>sprite_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,977},{126,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,254}}</string>
        <key>sourceSize</key>
        <string>{126,254}</string>
      </dict>
      <key>sprite_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,983},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,992},{133,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{133,249}}</string>
        <key>sourceSize</key>
        <string>{133,249}</string>
      </dict>
      <key>sprite_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,999},{131,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,243}}</string>
        <key>sourceSize</key>
        <string>{131,243}</string>
      </dict>
      <key>sprite_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,1003},{128,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,250}}</string>
        <key>sourceSize</key>
        <string>{128,250}</string>
      </dict>
      <key>sprite_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,1004},{126,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,254}}</string>
        <key>sourceSize</key>
        <string>{126,254}</string>
      </dict>
      <key>sprite_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,1004},{127,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,254}}</string>
        <key>sourceSize</key>
        <string>{127,254}</string>
      </dict>
      <key>sprite_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,1235},{125,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,250}}</string>
        <key>sourceSize</key>
        <string>{125,250}</string>
      </dict>
      <key>sprite_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,1239},{125,243}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,243}}</string>
        <key>sourceSize</key>
        <string>{125,243}</string>
      </dict>
      <key>sprite_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,1246},{127,254}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,254}}</string>
        <key>sourceSize</key>
        <string>{127,254}</string>
      </dict>
      <key>sprite_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1247},{126,253}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,253}}</string>
        <key>sourceSize</key>
        <string>{126,253}</string>
      </dict>
      <key>sprite_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,1257},{129,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,245}}</string>
        <key>sourceSize</key>
        <string>{129,245}</string>
      </dict>
      <key>sprite_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,1261},{125,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,240}}</string>
        <key>sourceSize</key>
        <string>{125,240}</string>
      </dict>
      <key>sprite_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,1261},{125,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,241}}</string>
        <key>sourceSize</key>
        <string>{125,241}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>atlas.webp</string>
      <key>size</key>
      <string>{932,1506}</string>
      <key>textureFileName</key>
      <string>atlas</string>
    </dict>
  </dict>
</plist>
